<p-table [value]="lancamentos" [responsive]="true"
  [paginator]="true" [rows]="filter.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="mudarPagina($event)" #tabela>
  <ng-template pTemplate="emptymessage">
    Nenhum lançamento encontrado
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Descrição</th>
      <th>Pessoa</th>
      <th class="col-data-header">Vencimento</th>
      <th class="col-data-header">Pagamento</th>
      <th class="col-valor-header">Valor</th>
      <th class="col-acoes"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamento>
    <tr>
      <td>
        <span class="ui-column-title">Descrição</span>
        {{ lancamento.descricao }}
      </td>
      <td>
        <span class="ui-column-title">Pessoa</span>
        {{ lancamento.pessoa }}
      </td>
      <td class="col-data-content">
        <span class="ui-column-title">Vencimento</span>
        {{ lancamento.dataVencimento | date: 'dd/MM/yyyy'}}
      </td>
      <td class="col-data-content">
        <span class="ui-column-title">Pagamento</span>
        {{ lancamento.dataPagamento | date: 'dd/MM/yyyy'}}
      </td>
      <td class="col-valor-content">
        <span class="ui-column-title">Valor</span>
        <span [style.color]="lancamento.tipoLancamento === 'DESPESA' ? 'red' : 'blue'">{{ lancamento.valor | number: '1.2-2' }}</span>
      </td>
      <td class="col-acoes">
        <a class="espaco-icones" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
        <button class="espaco-icones" pButton icon="pi pi-trash" pTooltip="Remover" tooltipPosition="top" 
          (click)="confirmarRemocao(lancamento)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
