<div class="container">
  <form #f="ngForm" autocomplete="off">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" ngModel #nome="ngModel" required/>
        <app-message [control]="nome" error="required"></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input type="text" pInputText name="logradouro" ngModel #logradouro="ngModel" required/>
        <app-message [control]="logradouro" error="required"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input type="text" pInputText name="numero" ngModel #numero="ngModel" required/>
        <app-message [control]="numero" error="required"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText />
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText name="bairro" ngModel #bairro="ngModel" required/>
        <app-message [control]="bairro" error="required"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99.999-999" name="cep" ngModel #cep="ngModel" required></p-inputMask>
        <app-message [control]="cep" error="required"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText name="cidade" ngModel #cidade="ngModel" required/>
        <app-message [control]="cidade" error="required"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText name="estado" ngModel #estado="ngModel" required/>
        <app-message [control]="estado" error="required"></app-message>
      </div>

      <div class="ui-g-12">
        <button type="submit" pButton label="Salvar" [disabled]="f.invalid"></button>
        <button type="button" pButton class="ui-button-warning" label="Novo" style="margin: 0 .5em"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
