<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="filter.nome"/>
      </div>

      <div class="ui-g-12">
        <button type="submit" pButton label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-pessoas-grid [pessoas]="pessoas" [totalRegistros]="totalRegistros" (aoMudarPagina)="aoMudarPagina($event)"></app-pessoas-grid>
    </div>

    <div class="ui-g-12">
      <button pButton icon="pi pi-plus" label="Nova Pessoa" routerLink="/pessoas/nova"></button>
    </div>
  </div>
</div>
