<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} {% endblock %} - Upr</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <nav>
            <h1>Upr</h1>   
            <ul>
                {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span></li>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </head>
    <body>
        <section class="content">
            <header>
                {% block header %} {% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block body %} {% endblock %}
        </section>
    </body>
</html>