<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <!-- TODO: nao reconhece a propriedade 'exibindoMenu'. Corrigir -->
         
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

    
    <ul class="navbar-menu" [hidden]="!exibindoMenu">
      <li class=navbar-usuario>{{ auth.jwtPayload?.nome }}</li>
      <li class="navbar-menuitem" routerLinkActive="ativo" (click)="exibindoMenu = !exibindoMenu"
        *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
        <a routerLink="/lancamentos">Lancamentos</a>
      </li>
      <li class="navbar-menuitem" routerLinkActive="ativo" (click)="exibindoMenu = !exibindoMenu"
        *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')">
        <a routerLink="/pessoas">Pessoas</a>
      <li class="navbar-menuitem" routerLinkActive="ativo" (click)="exibindoMenu = !exibindoMenu"
        *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="navbar-menuitem" routerLinkActive="ativo" (click)="exibindoMenu = !exibindoMenu"
        *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
        <a routerLink="/relatorios/lancamentos">Relatórios</a>
      <li >

      </li>
      <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
    </ul>

</nav>