<p-table [paginator]="true" [rows]="filter.itensPorPagina" [totalRecords]="totalRegistros" [responsive]="true" [value]="pessoas"
  [lazy]="true" (onLazyLoad)="mudarPagina($event)" #tabela>

  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th class="col-estado">Estado</th>
      <th class="col-status">Status</th>
      <th class="col-acoes"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-pessoa>
    <tr>
      <td>
        <span class="ui-column-title">Nome</span>
        {{ pessoa.nome }}
      </td>
      <td>
        <span class="ui-column-title">Cidade</span>
        {{ pessoa.endereco ? pessoa.endereco.cidade.nome : ''}}
      </td>
      <td class="col-estado">
        <span class="ui-column-title">Estado</span>
        {{ pessoa.endereco ? pessoa.endereco.cidade.estado.nome : ''}}
      </td>
      <td class="col-status">
        <span class="ui-column-title">Status</span>
        <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="mudarStatus(pessoa)">
          {{ pessoa.ativo ? 'Ativo' : 'Inativo'}}
        </a>
      </td>
      <td class="col-acoes">
        <a class="espaco-icones" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
          [routerLink]='["/pessoas", pessoa.codigo]'>
        </a>
        <button pButton icon="pi pi-trash" pTooltip="Remover" tooltipPosition="top" (click)="confirmarRemocao(pessoa)"></button>
      </td>
    </tr>
  </ng-template>

</p-table>
